<div class="container-fluid" id="container-wrapper">
  <div class="text-center">
    <p class="lead text-gray-800 mx-auto" id="TextForType">NEWS UPDATE!</p>
  </div>
  <br><pre><code class="text-plain">
    [ Activity Logs ] :

    [31/12/2019] : UCP is Finishing
  </code><pre>
</div>